<%-  include("header")  -%>


<h2>This is about page</h2>

<p>Lorem ipsum dolor sit amet consectetur,
     adipisicing elit. Soluta quibusdam magnam 
     officiis molestias a, dolores est vel nostrum? 
     Iusto quos exercitationem neque. Aliquid ducimus deserunt dolor, 
     itaque magni optio asperiores?</p>

     <%-  include("footer")  -%>